<!DOCTYPE html>

<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<meta name="description" content="Sigue de cerca a Princess Chelsea y su banda - ¡¡No te pierdas de las nuevas camisetas estampadas de Princess Chelsea!! - VER MÁS">
	<meta name="keywords" content="música, musika, musica, princess, Chelsea, Princess Chelsea, cantante, banda, merchandising, accesorios, remeras, playeras, camisetas, estampadas, shop, tienda online, tienda, compra">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css"  href="../styles.css">
	<title> Princess Chelsea Sitio no Oficial</title>
</head>
<body>

	
	<div class="container-fluid">
		
		<div class="row no-gutters">
			<div class="col-12">

				<nav class="navbar navbar-expand-lg navbar-light">
					<a class="navbar-brand" href="../index.html"><img class="logo" src="../img/princesslogo.png"alt="logo" width="350"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarNav">
						<ul class="navbar-nav d-flex justify-content-end navigation">
							<li class="nav-item">
								<a class="btn-menu nav-link" href="../views/prensa.html">Prensa</a>
							</li>
							<li class="nav-item">
								<a class="btn-menu nav-link" href="../views/tours.html">Tours<span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item  active">
								<a class="btn-menu nav-link" href="../views/acerca.html">Acerca</a>
							</li>
							<li class="nav-item dropdown">
								<a class="btn-menu nav-link dropdown-toggle" href="../views/merch.html" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Merch</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="../views/merch.html">Música/Vinilos</a>
									<a class="dropdown-item" href="../views/merch.html">Vestimenta</a>
									<a class="dropdown-item" href="../views/merch.html">Accesorios</a>
									<a class="dropdown-item" href="../views/merch.html">Descuentos</a>
								</div>
							</li>
							
						</ul>
					</div>
				</nav>

			</div>
		</div>

		<header class="merch">	
			<div class="heroBannerMerch">

				<!--jugando con texto animado -->
				<div class="animation-container" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1; left: -2299px; top: 80%; /*width: 3771px;*/ height: 41px; z-index: 111; animation-name: animation_88_1; animation-duration: 23.9s; animation-delay: 0s; animation-iteration-count: infinite; animation-direction: alternate; animation-fill-mode: none; animation-play-state: running;position: absolute; overflow: hidden;"><style>@keyframes animation_88_1 {
					0% {transform: matrix(1,0,0,1,0,0); opacity: 1; animation-timing-function: linear}
					100% {transform: matrix(1,0,0,1,1850,0); opacity: 1; }
				}
			</style>
			<div class="rmwidget text force-repaint-content" data-id="5e4880bd8842b2009014f674" style="overflow: hidden; left: 0px; top: 0px; width: 3771px; height: 41px; z-index: 111;">
				<div class="v2"><p><span><span><span class="animatedRow"> MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCHMERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH - MERCH </span></span></span></p>
				</div>>
			</div>
		</div>
		
	</div>

	<!-- fin jugando con texto animado -->


</br>
<img class="landingImageHeroTours" src="../img/headerimg.png"alt="landing image"> 

</header>

<div class="container-fluid mb-5 bg-light">
	<div class="row">
		<div class="col-12">
			<table border=0 class="tablaMerch" width=1000  bordercolor="#00000">
				<tr class="rowTitleMerch">		

					<th  width="100%" >
						<ul  class="rowTitleMerch d-flex flex-row justify-content-center mt-5 mb-5">
							<li><a href="#">1 | </a></li>
							<li><a href="#">2 | </a></li>
							<li><a href="#">3 | </a></li>
							<li><a href="#">4 | </a></li>
							<li><a href="#"> VER MÁS</a></li>
						</ul></th>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 ml-2">
				<div class="categorias">
					<div class="categ">
						
						<h4>CATEGORÍAS</h4>
						<div class="card  estuary">
							<a class="card-category" href="#" title="HTML & CSS">
								<span>ROPA</span>
							</a>
						</div>
						<div class="card  estuary">
							<a class="card-category" href="#" title="HTML & CSS">
								<span>MUSICA</span>
							</a>
						</div>
						<div class="card  estuary">
							<a class="card-category" href="#" title="HTML & CSS">
								<span>ACCESORIOS</span>
							</a>
						</div>
						<div class="card  estuary">
							<a class="card-category" href="#" title="HTML & CSS">
								<span>REBAJAS</span>
							</a>
						</div>
					</div>
				</div>
			</div>


			<div class="col-lg-8 col-md-8 offset-lg-1 offset-md-1 col-sm-10">
				<div class="row">
					<div class="productos d-flex flex-wrap justify-content-between"></div>
					<div class="item col-lg-3 col-md-4 col-sm-8">
						<div class="imagenMerch">
							<img src="../img/remera1.jpg">
						</div>
						<div class="infoItem">
							<p class="tituloProducto">REMERA</p>
							<p>$precio</p>
							<a href="#" class="botonCompra">COMPRAR</a>
						</div>
					</div>


					<div class="item col-lg-3 col-md-4 col-sm-8">
						<div class="imagenMerch">
							<img src="../img/remera1.jpg">
						</div>
						<div class="infoItem">
							<p class="tituloProducto">REMERA</p>
							<p>$precio</p>
							<a href="#" class="botonCompra">COMPRAR</a>
						</div>
					</div>

					<div class="item col-lg-3 col-md-4 col-sm-8">
						<div class="imagenMerch">
							<img src="../img/remera1.jpg">
						</div>
						<div class="infoItem">
							<p class="tituloProducto">REMERA</p>
							<p>$precio</p>
							<a href="#" class="botonCompra">COMPRAR</a>
						</div>
					</div>

					<div class="item col-lg-3 col-md-4 col-sm-8">
						<div class="imagenMerch">
							<img src="../img/remera1.jpg">
						</div>
						<div class="infoItem">
							<p class="tituloProducto">REMERA</p>
							<p>$precio</p>
							<a href="#" class="botonCompra">COMPRAR</a>
						</div>
					</div>

					<div class="item col-lg-3 col-md-4 col-sm-8">
						<div class="imagenMerch">
							<img src="../img/remera1.jpg">
						</div>

						<div class="infoItem">
							<p class="tituloProducto">REMERA</p>
							<p>$precio</p>
							<a href="#" class="botonCompra">COMPRAR</a>
						</div>
					</div>

					<div class="item col-lg-3 col-md-4 col-sm-8">
						<div class="imagenMerch">
							<img src="../img/remera1.jpg">
						</div>
						<div class="infoItem">
							<p class="tituloProducto">REMERA</p>
							<p>$precio</p>
							<a href="#" class="botonCompra">COMPRAR</a>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>


	<!-- Footer -->
	<footer class="page-footer font-small rose pt-4">
		<div class="container-fluid text-center text-md-left">
			<div class="row">
				<div class="col-md-9 mt-md-0 mt-3">
					<h5 class="text-uppercase">Lalala Records Label</h5>
					<p>Lorem ipsum pensar qué poner acá. Lorem ipsum pensar qué poner acá.</p>

				</div>

				<hr class="clearfix w-100 d-md-none pb-3">
				<div class="col-md-1 mb-md-0 mb-3">

					<a href="https://www.instagram.com/">
						<img alt="fb" src="../assets/instagram.png"
						width="30" height="30">
					</a>

				</div>

				<div class="col-md-1 mb-md-0 mb-3">

					<!-- Links -->
					<a href="https://www.facebook.com/">
						<img alt="fb" src="../assets/facebook.png"
						width="30" height="30">
					</a>

				</div>
			</div>
		</div>

		<!-- Copyright -->
		<div class="footer-copyright text-center">© 2021 Princess Chelsea Copyright
		</div>

	</footer>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>