<!DOCTYPE html>

<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<meta name="description" content="Sigue de cerca a Princess Chelsea y su banda - Entérate de los próximos conciertos, consigue tickets para escucharla en vivo - VER MÁS">
	<meta name="keywords" content="música, musika, musica, princess, Chelsea, Princess Chelsea, cantante, banda, alternativo, conciertos, tours, fechas, toques, tickets, ticket, compra, escucha en vivo, en vivo">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css"  href="../styles.css">
	<title> Princess Chelsea Sitio no Oficial</title>
</head>
<body>

	
	<div class="container-fluid">
		
		<div class="row no-gutters">
			<div class="col-12">

				<nav class="navbar navbar-expand-lg navbar-light">
					<a class="navbar-brand" href="../index.html"><img class="logo" src="../img/princesslogo.png"alt="logo" width="350"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarNav">
						<ul class="navbar-nav d-flex justify-content-end navigation">
							<li class="nav-item">
								<a class="btn-menu nav-link" href="../views/prensa.html">Prensa</a>
							</li>
							<li class="nav-item">
								<a class="btn-menu nav-link" href="../views/tours.html">Tours<span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item  active">
								<a class="btn-menu nav-link" href="../views/acerca.html">Acerca</a>
							</li>
							<li class="nav-item dropdown">
								<a class="btn-menu nav-link dropdown-toggle" href="../views/merch.html" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Merch</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="../views/merch.html">Música/Vinilos</a>
									<a class="dropdown-item" href="../views/merch.html">Vestimenta</a>
									<a class="dropdown-item" href="../views/merch.html">Accesorios</a>
									<a class="dropdown-item" href="../views/merch.html">Descuentos</a>
								</div>
							</li>
							
						</ul>
					</div>
				</nav>

			</div>
		</div>

		<header class="row">	
			<div class="col-12 heroBannerTimeline">

				<!--jugando con texto animado -->
				<div class="animation-container"><style>@keyframes animation_88_1 {
					0% {transform: matrix(1,0,0,1,0,0); opacity: 1; animation-timing-function: linear}
					100% {transform: matrix(1,0,0,1,1850,0); opacity: 1; }
				}
			</style>
			<div class="rmwidget text force-repaint-content" data-id="5e4880bd8842b2009014f674">
				<div class="v2"><p><span><span><span class="animatedRow"> TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS -  TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS -TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS -  TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS -  TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS -  TOURS - TOURS - TOURS- TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS -  TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS -  TOURS - TOURS - TOURS TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS - TOURS -  TOURS - TOURS - TOURS </span></span></span></p>
				</div>
			</div>
		</div>
		<img class="landingImageHeroTours" src="../img/headerimg.png"alt="landing image">
		

	</div>

	<!-- fin jugando con texto animado --> 
</header>

<div class="container-fluid pl-3 pr-3 pt-5 bg-light">
	<div class="row">
		<div class="col-lg-5 offset-lg-1 col-md-10 col-sm-12 mt-5 pr-5 pl-5 mb-5 pb-4">
			<div class="schedule">
				<div class="tour-name">
					<div class="title-tour">PRÓXIMOS CONCIERTOS</div>


				</div>
				<div class="item-tour">

					<div class="tour-name">
						<div class="fecha-ano">2021</div>


					</div> 
					<div class="meeting-time">
						<div class="time">JUN</div>
						<div class="date">08</div>
					</div> 
					<div class="meeting-time">
						<div class="time">Nueva Zelanda</div>
						<div class="date">Tuning Fork</div>
					</div>  
					<div>  
						<button class="primary btn-tour">TICKETS</button>
					</div>
				</div>
				<div class="item-tour">

					<div class="tour-name">
						<div class="fecha-ano text-light">2021</div>


					</div> 
					<div class="meeting-time">
						<div class="time">JUN</div>
						<div class="date">08</div>
					</div> 
					<div class="meeting-time">
						<div class="time">Nueva Zelanda</div>
						<div class="date">Tuning Fork</div>
					</div>  
					<div>  
						<button class="primary btn-tour">TICKETS</button>
					</div>
				</div>
				<div class="item-tour">

					<div class="tour-name">
						<div class="fecha-ano text-light">2021</div>


					</div> 
					<div class="meeting-time">
						<div class="time">JUN</div>
						<div class="date">08</div>
					</div> 
					<div class="meeting-time">
						<div class="time">Nueva Zelanda</div>
						<div class="date">Tuning Fork</div>
					</div>  
					<div>  
						<button class="primary btn-tour">TICKETS</button>
					</div>
				</div>


			</div>
			<div class="schedule">

				<div class="item-tour" style=" border-bottom: 1px solid black;">

					<div class="customer-name">
						<div class="fecha-ano text-light">2021</div>


					</div> 
					<div class="meeting-time">
						<div class="time">JUN</div>
						<div class="date">08</div>
					</div> 
					<div class="meeting-time">
						<div class="time">Nueva Zelanda</div>
						<div class="date">Tuning Fork</div>
					</div>  
					<div >  
						<button class="primary btn-tour">TICKETS</button>
					</div>
				</div>
				<div class="item-tour">

					<div class="tour-name">
						<div class="fecha-ano">2022</div>


					</div> 
					<div class="meeting-time">
						<div class="time">JUN</div>
						<div class="date">08</div>
					</div> 
					<div class="meeting-time">
						<div class="time">Nueva Zelanda</div>
						<div class="date">Tuning Fork</div>
					</div>  
					<div >  
						<button class="primary btn-tour">TICKETS</button>
					</div>
				</div>
				<div class="item-tour">

					<div class="tour-name">
						<div class="fecha-ano text-light">2022</div>


					</div> 
					<div class="meeting-time">
						<div class="time">JUN</div>
						<div class="date">08</div>
					</div> 
					<div class="meeting-time">
						<div class="time">Nueva Zelanda</div>
						<div class="date">Tuning Fork</div>
					</div>  
					<div >  
						<button class="primary btn-tour">TICKETS</button>
					</div>
				</div>


			</div>
		</div>


		<div class="col-lg-5 col-md-10 col-sm-12 p-4 mt-5 pl-5 pr-5">
			<div class="schedule">
				<div class="tour-name">
					<div class="title-tour">CONCIERTOS ANTERIORES</div>


				</div>
				<div class="item-tour">

					<div class="tour-name">
						<div class="fecha-ano">2019</div>

					</div> 
					<div class="meeting-time">
						<div class="time">JUN</div>
						<div class="date">08</div>
					</div> 
					<div class="meeting-time">
						<div class="time">Nueva Zelanda</div>
						<div class="date">Tuning Fork</div>
					</div>  
					<div >  
						<button class="primary btn-tour">INFO</button>
					</div>
				</div>
				<div class="item-tour">

					<div class="tour-name">
						<div class="fecha-ano text-light">2019</div>


					</div> 
					<div class="meeting-time">
						<div class="time">JUN</div>
						<div class="date">08</div>
					</div> 
					<div class="meeting-time">
						<div class="time">Nueva Zelanda</div>
						<div class="date">Tuning Fork</div>
					</div>  
					<div >  
						<button class="primary btn-tour">INFO</button>
					</div>
				</div>
				<div class="item-tour">

					<div class="customer-name">
						<div class="fecha-ano text-light">2019</div>


					</div> 
					<div class="meeting-time">
						<div class="time">JUN</div>
						<div class="date">08</div>
					</div> 
					<div class="meeting-time">
						<div class="time">Nueva Zelanda</div>
						<div class="date">Tuning Fork</div>
					</div>  
					<div >  
						<button class="primary btn-tour">INFO</button>
					</div>
				</div>


			</div>
		</div>
	</div></div>


	<!-- Footer -->
	<footer class="page-footer font-small rose pt-4">
		<div class="container-fluid text-center text-md-left">
			<div class="row">
				<div class="col-md-9 mt-md-0 mt-3">
					<h5 class="text-uppercase">Lalala Records Label</h5>
					<p>Lorem ipsum pensar qué poner acá. Lorem ipsum pensar qué poner acá.</p>

				</div>

				<hr class="clearfix w-100 d-md-none pb-3">
				<div class="col-md-1 mb-md-0 mb-3">

					<a href="https://www.instagram.com/">
						<img alt="fb" src="../assets/instagram.png"
						width="30" height="30">
					</a>

				</div>

				<div class="col-md-1 mb-md-0 mb-3">

					<!-- Links -->
					<a href="https://www.facebook.com/">
						<img alt="fb" src="../assets/facebook.png"
						width="30" height="30">
					</a>

				</div>
			</div>
		</div>

		<!-- Copyright -->
		<div class="footer-copyright text-center">© 2021 Princess Chelsea Copyright
		</div>

	</footer>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>